*{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  p{
    font-family: 'Times New Roman', Times, serif;
  
  }
  button{
    border:none;
    background-color: inherit;
  }
  a{
    text-decoration: none;
    background-color:inherit;
  
    
  }
  a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #d38406;
  }
  
  header{
    position: fixed;
    top:0%;
    z-index: 1;
    width:90%;
    background-color: black;
    padding:1% 5%;
    margin:0;
    display: flex;
    color: white;

  }
  
  #logo{
    background-color: inherit;
    width: 100%;
    margin-left:5% ;
  }

  .tabs, .auth{ 
    background-color: inherit;
    margin-top: 2%;
    
  }
  .tabs >*, .auth>*{
    background-color:  inherit;
    color: white;
    font-size: 3vh;
    font-weight: 700;
  }

  .tabs{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20%;
    width:auto;
    margin-left: 15%;
  }
  .auth{
    width: fit-content;
    margin-left: 34%;
    
  }
  
  .tabs #contact-us, .tabs #add-post{
    background-color: inherit;
    margin-left: 20%;
  
   
  }

  .auth #login-signup{
    border: none;
  }