
.landing-page-container{
  margin: 5% 0%;
 
}
.landing-page-container .landing-page-header{
  width: 100%;
  background-color: white;
}
 #landing-page-header-image{
  width: 100%;
  height: 90vh;
  overflow: hidden;
  animation-name: slideInRight;

}
#landing-page-header-title{
  font-size: 10vh;
  position: absolute;
  margin-top:30%;
  padding:2% 1%;
  width:90%;
  color: black;
  background-color: rgb(255, 255, 255,0.6);
  animation-name: slideInRight;
}
.landing-page-container #latest-news{
  margin-bottom: 1%;
  margin-left: 5%;
  margin-top: 2%;
  

}
.landing-page-container .latest-posts {
  width: 95%;
  margin-left: 5%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 5%;
}
.landing-page-container .latest-posts .post-box {
  width: 100%;
  padding-bottom:4% ;
  z-index: 0;
}
.post-box a{
  text-decoration: none;
  color: green;
}
.landing-page-container .latest-posts .post-box>*{
  background-color: inherit;
}
.landing-page-container .latest-posts .post-box:hover{
  background-color: rgb(238, 238, 238);
}

.landing-page-container img {
  height: 45vh;
  width: 100%;
  
}
.latest-posts #post-title {
  font-size: 4vh;
  padding:0.5% 0%;
  background:inherit
}

.post-info{
  display: grid;
  width: 100%;
  grid-template-columns: 15% 50% auto;
  column-gap: 5%;
  background:inherit
}
.post-info>*{
  background:inherit;
}
#category{
  color:#ad6b00
  
}
#date{
  color:gray;
}
#background-image{
  width:auto;
  height: 200%;
  position: absolute;
  top:120%;
  left: 20%;
  z-index: 0;
  
}

/* animation*/

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

/*Mobile*/
@media screen and (max-width: 1024px){
  .landing-page-container{
    margin:0;
  }

  .landing-page-container .latest-posts{
    display: grid;
    width: 90%;
    grid-template-columns:auto;
  }
}
@media screen and (max-width: 690px){

}
