@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
.login-signup-box{
    animation:fadeIn 0.5s;
    position:fixed;
    width: 40%;
    margin: 8% 30% 9% 30%;

    border-radius: 15px;
    background: rgb(243, 243, 243);
    padding: 1% 2%;
    z-index: 1;
}
.login-signup-box #close-window{
    background-color: inherit;
    width: 100%;
    text-align: right;
    font-size: 3vh;
    font-weight: 800;
    color: green;

}
.login-signup-box #close-window:hover{
    cursor: pointer;
}
.login {
    background:inherit
}
.login >* {
    background:inherit
}
.login h1{

    margin-bottom: 5%;
    text-align: center;
    font-size: 4vh;
}
.login-form{
    display: grid;
    width: 60%;
    grid-template-columns: 15% 80%;
    column-gap: 5%;
    row-gap: 10%;
    margin: 4% 15%;
 
}
.login-form > *{
    background:inherit;
    margin-bottom:2% ;
}
.login-form label{
    font-size: 2vh;
    padding-top: 12%;
}
.login-signup-box #email, .login-signup-box #password{
    font-size: 2vh;
    padding: 1.5%;
    border-radius: 12px;
    background-color: white;

}

.login .signup{
    width: 50%;
    margin-left: 27%;
}
.login .signup button{
    font-size: 2vh;
}
.login .signup button:hover{
    cursor: pointer;
    text-decoration: underline;
}
 #sign-in-button{
    width:100%;
    font-size: 2vh;
    font-weight: bold;
    padding: 2% 0%;
    color: white;
    background-color:green;
}

.login #sign-in-button:hover{
    background-color:  #d38406;
}